*.DS_Store
*.swp
*.pyc
version.py
build/
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
cityscapes/
pretrain_models/
ead/
monusac/
disease/
buildings2/

hrnet-ocr/log/
hrnet-ocr/output/
hrnet-ocr/pretrained_models
hrnet-ocr/scripts/
hrnet-ocr/detail-api/

